// Navigation Styles here
 .top {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed @silver;
    align-items: center;
    margin: 2% 0;

  
    h1 {
        font-size: 3rem;
        font-weight: bold;
                 
    }

    .nav {
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        

        a {
            text-decoration: none;
            color: @shark;
            font-size:1.5rem;
            font-weight: bold;
        }
     } // closes nav
 } // closes top


 .main-img {
    margin: 0 0 3% 0;

 }

 .intro {
    border-bottom: 2px dashed @silver;

}

